@font-face {
	font-family: wonderland;
	src: url(fonts/alice_in_wonderland.ttf);
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: monospace, monospace;
}

h1 {
	font-family: wonderland;
	font-size: 4em;
}

article {
	padding-bottom: 40px;
}

footer {
	margin: 40px 0 0 0;
	padding: 16px;
	background-color: white;
	color: black;
	font-size: 0.68em;
	font-family: sans-serif;
	width: auto;
}

#current-total-points {
	all: unset;
	max-width: 2em;
}

#class-skills-table-label {
	margin-top: 50px;
}

#common-skills-table-label {
	margin-top: 80px;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	padding: 20px 10px 20px 10px;
	margin: 0;
	background-color: black;
	top: 0;
	border-top: 1px solid gold;
	border-bottom: 1px solid gold;
	width: auto;
}

.characters-selection-body {
	padding-bottom: 10px;
}

.skill-points-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.reset-buttons-container {
	padding-top: 10px;
}

.reset-button {
	padding: 5px;
	display: inline-block;
}

.main-section {
	min-height: 600px;
}

.skills-table-container {
	display: none;
	margin: 20px 0px 20px 0px;
}

.skills-table {
	grid-auto-flow: column;
	grid-template-rows: auto auto;
	color: white;
	border: none;
	border-collapse: collapse;
	border-spacing: 10px, 0px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.skills-table thead {
	background-color: darkslateblue;
}

.skills-table thead tr th {
	padding: 10px 10px 10px 10px;
}

.skills-table tbody tr td {
	max-width: 600px;
	padding: 10px 50px 10px 10px;
	white-space: pre-line;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

.skills-table tbody tr td p {
	min-height: 1em;
}

.skills-table tbody tr td input {
	max-width: 2.5em;
}

.skills-table-wide-cell {
	min-width: 20em;
}

.skills-table-widest-cell {
	min-width: 35em;
}

.table-input-non-interactable {
	all: unset;
	max-width: 2em;
}

.skills-text-element-next-header {
	font-style: italic;
	font-weight: bold;
	margin-top: 8px;
	padding-top: 8px;
	border-top: 2px dashed  white;
	width: 100%;
}

.collapsible {
	color: white;
	background-color: inherit;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	border: none;
	border-radius: 90%;
	text-align: left;
	outline: none;
	display: inline-block;
	font-size: 1em;
}

.collapsible:hover {
	color: deepskyblue;
}

.collapsible:after {
	content: '\002B';
	font-weight: bold;
	font-size: 1.8em;
}

.active:after {
	content: "\2212";
}

.collapsed-content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: inherit;
}

.limiter-triggered {
	color: red;
}

.modal {
	display: none;
}