body {
	background-color: black;
	color: white;
}

.calc-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.skills-table-container {
	display: none;
}

.skills-table {
	grid-auto-flow: column;
	grid-template-rows: auto auto;
	color: white;
	border: none;
	margin-top: 16px;
	margin-bottom: 16px;
}

.skills-table thead tr th {
	padding: 10px 10px 10px 10px;
}

.skills-table tbody tr td {
	padding: 10px 10px 10px 10px;
}

.skills-text-element-next-header {
	font-style: italic;
	font-weight: bold;
	margin-top: 8px;
	padding-top: 8px;
	border-top: 2px dashed  white;
	width: 100%;
}

.collapsible {
  color: white;
  background-color: inherit;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 90%;
  text-align: left;
  outline: none;
  display: inline-block;
  font-size: 1em;
}

.collapsible:hover {
	background-color: red;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
}

.active:after {
  content: "\2212";
}

.collapsed-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: inherit;
}