@font-face {
	font-family: wonderland;
	src: url(fonts/alice_in_wonderland.ttf);
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
	
	body {
		padding: 1px 1px 0 1px;
	}
	
	h1 {
		margin: 0;
		padding: 0 0 8px 0;
		font-size: 2.5em;
	}

	article {
		padding-bottom: 18px;
	}
	
	section {
		width: auto;
	}
	
	select {
		font-size: 12px;
	}
	
	#tables-container-class {
		margin-bottom: 1.25em;
	}
	
	.sticky-top {
		padding: 0.4em 0.6em;
	}
	
	.reset-buttons-container {
		width: auto;
	}
	
	.reset-button {
		font-size: 12px;
	}
	
	.main-section {
		margin: 0.4em 0;
	}
	
	.table-head-label {
		padding: 0.5em 10%;
	}
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
	
	body {
		padding: 1% 1% 0 1%;
	}
	
	h1 {
		margin: 0;
		padding: 0 0 24px 0;
		font-size: 3em;
	}

	article {
		padding-bottom: 20px;
	}
	
	section {
		width: auto;
	}
	
	select {
		font-size: 13px;
	}
	
	#tables-container-class {
		margin-bottom: 2em;
	}
	
	.sticky-top {
		padding: 1em 2em;
	}
	
	.reset-buttons-container {
		max-width: 400px;
	}
	
	.reset-button {
		font-size: 13px;
		padding: 0.5em;
	}
	
	.main-section {
		margin: 0.8em 0;
	}
	
	.table-head-label {
		padding: 1em 10%;
	}
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
	
	body {
		padding: 1% 1% 0 1%;
	}
	
	h1 {
		margin: 0;
		padding: 0 0 48px 0;
		font-size: 3.8em;
	}

	article {
		padding-bottom: 34px;
	}
	
	section {
		width: 75%;
		max-width: 800px;
	}
	
	select {
		font-size: 14px;
	}
	
	#tables-container-class {
		margin-bottom: 3em;
	}
	
	.sticky-top {
		padding: 1em 2em;
	}
	
	.reset-buttons-container {
		max-width: 480px;
	}
	
	.reset-button {
		padding: 1em;
	}
	
	.main-section {
		margin: 1em 0;
	}
	
	.table-head-label {
		padding: 1.5em 10%;
	}
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
	
	body {
		padding: 1% 1% 0 1%;
	}
	
	h1 {
		margin: 0;
		padding: 0 0 60px 0;
		font-size: 4.4em;
	}

	article {
		padding-bottom: 40px;
	}
	
	section {
		width: 75%;
		max-width: 1000px;
	}
	
	select {
		font-size: 15px;
	}
	
	#tables-container-class {
		margin-bottom: 3.5em;
	}
	
	.sticky-top {
		padding: 2em 3em;
	}
	
	.reset-buttons-container {
		max-width: 520px;
	}
	
	.main-section {
		margin: 2em 0;
	}
	
	.table-head-label {
		padding: 2.5em 10%;
	}
}

@media (min-width: 1200px) {
	body {
		padding: 1% 1% 0 1%;
	}
	
	section {
		width: 75%;
		max-width: 1200px;
	}
	
	#tables-container-class {
		margin-bottom: 4em;
	}
	
	.sticky-top {
		padding: 2em 3em;
	}
	
	.reset-buttons-container {
		max-width: 520px;
	}
	
	.main-section {
		margin: 2em 0;
	}
	
	.table-head-label {
		padding: 2.5em 10%;
	}
}

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: monospace, monospace;
}

h1 {
	font-family: wonderland;
}

section {
	margin: auto;
	max-width: 1200px;
	overflow: hidden;
}

footer {
	margin: 40px 0 0 0;
	padding: 16px;
	background-color: white;
	color: black;
	font-size: 0.68em;
	font-family: sans-serif;
}

#current-total-points {
	all: unset;
	max-width: 2em;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	margin: 0;
	background-color: black;
	top: 0;
	border-top: 1px solid darkkhaki;
	border-bottom: 1px solid darkkhaki;
}

.characters-selection-body {
	margin: auto;
	padding-bottom: 10px;
	width: fit-content;
	text-align: center;
}

.skill-points-container {
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	width: fit-content;
}

.reset-buttons-container {
	padding: 5px 0 0 0;
	margin: auto;
	display: flex;
}

.reset-button {
	min-width: 1em;
	min-height: 3em;
	display: inline-block;
	flex-basis: 30%;
	flex-grow: 1;
}

.reset-buttons-container-spacer {
	min-width: 1em;
	display: inline-block;
	flex-grow: 1;
}

.main-section {
	min-height: 600px;
}

.skills-table-container {
	display: none;
	overflow: auto;
}

.table-head-label {
	margin: auto;
	color: khaki;
	border: 2px groove darkkhaki;
	text-align: center;
}

.skills-table {
	grid-auto-flow: column;
	grid-template-rows: auto auto;
	color: white;
	border: none;
	border-collapse: collapse;
	border-spacing: 10px, 0px;
	margin: 16px auto;
}

.skills-table thead {
	background-color: darkslateblue;
}

.skills-table thead tr th {
	padding: 10px 10px 10px 10px;
	text-align: left;
}

.skills-table tbody tr td {
	max-width: 600px;
	padding: 10px 50px 10px 10px;
	white-space: pre-line;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

.skills-table tbody tr td p {
	min-height: 1em;
}

.skills-table tbody tr td input {
	max-width: 2.5em;
}

.skills-table-wide-cell {
	min-width: 16em;
}

.skills-table-widest-cell {
	min-width: 25em;
}

.table-input-non-interactable {
	all: unset;
	max-width: 2em;
}

.skills-text-element-next-header {
	font-style: italic;
	font-weight: bold;
	margin-top: 8px;
	padding-top: 8px;
	border-top: 2px dashed white;
	width: 100%;
}

.input-skill-level {
	all: unset;
	display: block;
	width: auto;
	text-align: center;
}

.input-subcomponent {
	min-width: 10px;
	margin: 0 auto 0 auto;
	display: block;
}

.triangle_down {
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 0.6em solid black;
	pointer-events: none;
}

.triangle_up {
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.6em solid black;
	pointer-events: none;
}

.collapsible {
	color: white;
	background-color: inherit;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	border: none;
	border-radius: 90%;
	text-align: left;
	outline: none;
	display: inline-block;
	font-size: 1em;
}

.collapsible:hover {
	color: deepskyblue;
}

.collapsible:after {
	content: '\002B';
	font-weight: bold;
	font-size: 1.8em;
}

.active:after {
	content: "\2212";
}

.collapsed-content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: inherit;
}

.limiter-triggered {
	color: red;
}

.modal {
	display: none;
	z-index: 2;
	padding-top: 200px;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.7);
}

.modal-buttons-container {
	padding-top: 40px;
	text-align: center;
}

.modal-button {
	width: 4em;
	height: 3em;
	text-align: center;
	margin: 0 auto;
}

.modal-button-wide {
	width: 6em;
	height: 3em;
	text-align: center;
	margin: 0 auto;
}

.modal-content {
	border-radius: 15px ;
	background-color: darkslateblue;
	margin: auto;
	width: fit-content;
	padding: 15px 15px 25px 15px;
}

/* .diamond {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
} */